.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    background: white;
    text-align: left;
    }


h5 {
    font-size: 16px;
    font-weight: bold;
    }


p7 {

    }